@import "tailwindcss";

:root {
  --font-default: var(--font-raleway-sans), Helvetica, Arial, sans-serif;
  /* COLORS */
  --color-accent100: #fdeae3;
  --color-accent200: #ff6b35;
  --color-accent300: #e0430a;
  --radius-m: 0.5rem;
}

.gp-text-field-container {
  background-color: white;
}

html,
body {
  background-color: var(--color-accent100) !important;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-raleway-sans);
}

a {
  color: inherit;
  text-decoration: none;
}
